* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: #3b4252;
}

p {
	font-family: "Source Code Pro", "Monospace", "Sans Serif";
	color: #e5e9f0;
}

code {
	font-family: "Source Code Pro", "Monospace", "Sans Serif";
	color: #e5e9f0;
}

a, a:link, a:visited, a:active {
  color: #a3be8c;
  text-decoration: none;
}

a:hover {
  color: #ebcb8b;
}
#main {
	background-color: #2e3440;
	opacity: 0.9;
	width: calc(50vw - 10px);
	height: calc(50vh - 10px);
	margin-left: 25vw;
	margin-right: 25vw;
	margin-top: 25vh;
	margin-bottom: 25vh;
	padding: 5px;
}

.magenta {
	color: #b48ead;
}

.blue {
	color: #5e81ac;
}

.right {
	position: absolute;
	right: calc(25vw + 5px);
}

.bottom {
	position: absolute;
	background-color: #3b4252;
	color: #81a1c1;
	left: calc(25vw + 5px);
	width: calc(50vw - 10px);
	bottom: calc(25vh + 5px);
	display: flex;
	flex-direction: row;
}

.rightbot {
	margin-left: auto;
	margin-right: 2px;
}
