* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: #3b4252;
}

p {
	font-family: "Source Code Pro", "Monospace", "Sans Serif";
	color: #e5e9f0;
}

code {
	font-family: "Source Code Pro", "Monospace", "Sans Serif";
	color: #e5e9f0;
}

a, a:link, a:visited, a:active {
	transition: color 0.5s;
	color: #a3be8c;
	text-decoration: none;
}

a:hover {
	color: #ebcb8b;
}
#main {
	background-color: #2e3440;
	opacity: 0.9;
	width: 50vw;
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	margin-bottom: 25vh;
	padding: 5px;
	transition: width 0.3s;
}

.magenta {
	color: #b48ead;
}

.blue {
	color: #5e81ac;
}

.right {
	position: absolute;
	right: 25vw;
}

.bottom {
	position: absolute;
	background-color: #3b4252;
	color: #81a1c1;
	left: 25vw;
	width: 50vw;
	bottom: 25vh;
	display: flex;
	flex-direction: row;
	transition: width 0.3s, bottom 0.3s;
}

.rightbot {
	margin-left: auto;
	margin-right: 2px;
}
