* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: #000000;
}

p {
	font-family: "Source Code Pro", "Monospace", "Sans Serif";
	color: #f5f5f5;
}

code {
	font-family: "Source Code Pro", "Monospace", "Sans Serif";
	color: #f5f5f5;
}

a, a:link, a:visited, a:active {
	transition: color 0.5s;
	color: #1ddbc9;
	text-decoration: none;
}

a:hover {
	color: #f7bf65;
}
#main {
	background-color: #2e2e2e;
	width: 50vw;
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	margin-bottom: 25vh;
	padding: 5px;
	transition: width 0.3s;
}

.magenta {
	color: #e88be0;
}

.blue {
	color: #1ddbc9;
}

.right {
	position: absolute;
	right: 25vw;
}

.bottom {
	position: absolute;
	color: #f5f5f5;
	left: 25vw;
	width: 50vw;
	bottom: 25vh;
	display: flex;
	flex-direction: row;
	transition: width 0.3s, bottom 0.3s;
}

.rightbot {
	margin-left: auto;
	margin-right: 2px;
}
